@import "~bootstrap/scss/bootstrap";

html {
  position: relative;
  min-height: 100%;

  body {
    padding-bottom: 20px;
  }
}

.upload-input {
  display: none !important;
}

.list-group-item {
  font-size: 10px;
}

.navbar-inverse {
  background-color: #397ad0;
  border-color: #316198;

  .navbar-brand {
    color: #fffff6;
    font-size: 20px;
  }

  .nav-item {
    color: white;
  }
}

#recordList {
  padding-left: 0%;
}

#subjectList {
  padding-right: 0%;
}

.saveGeometry {
  z-index: 1;
}

.footer {
  position: absolute;
  width: 100%;
  background-color: #f5f5f5;
}



#sidebar {
  border-top: 1px solid #316198;
  position: absolute;
  top: 55px;
  right: 0;
  height: 90%;
  text-align: center;
  min-width: 250px;
  max-width: 250px;
  background: #397ad0;
  color: #fff;
  margin-left: auto;
  margin-right: 0;
  transition: all 0.9s;

  ul {
    p {
      padding: 10px;
      font-size: 1.1em;
      display: block;
    }

    button {
      background: #397ad0;
      color: #fff;
      padding: 10px;
      font-size: 1.1em;
      display: block;

      &:hover {
        color: #397ad0;
        background: white;
      }
    }
  }
}

#geometryContainer {
  display: inline-block;
  position: relative;
}

#geometryCanvas {
  top: 0px;
  position: absolute;
  ;
  z-index: 20;
}

#fm-brain-2D {
  position: absolute;
  ;
  z-index: 1;
}



#electrodeHolder {
    padding-left: 0%;
}