node_modules/
data/
certs/
dist/

reconstruction/
public/webFM_Display/StreamingAssets/*
public/webFM_Display/OLD/*
ecogpy_config.py
public/webFM_Display/save/*

.vscode/
public_backup
public/js/bootstrap/bootstrap.js
