/* webfm - webfm.css
-- Custom styles */

/* Center brand name */
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}

.navbar-brand {
  font-size: 28px;
}

.glyphicon-button {
  line-height: 50px;
  height: 50px;
  margin-top: -3px;
}

.navbar-nav .glyphicon-button .glyphicon {
  font-size: 1.8em;
}

.navbar-secondary {
  margin-top: 50px;
}

.navbar-secondary .dropdown {
  font-size: 18px;
}

.fm-time-label {
  font-size: 32px;
  margin-top: 3px;
  margin-bottom: 2px;
  color: #000000 !important;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  height: 100%;
}
body {
  /* padding-top: 50px; */
  /* Margin bottom by footer height */
  /* margin-bottom: 60px; */
  /*
  margin:0;
  padding:0; 
  */
  margin-bottom: 40px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: rgba( 245, 245, 245, 0.9);
}

.footer .container-fluid {
  margin-top: 10px;
}
.footer .container-fluid .text-muted {
  margin: 1px 0;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 0 0; /* 60px 15px 0 */
}
.container .text-muted {
  margin: 20px 0;
}

.container-horizon {
  /*
  float: left;
  width: 75%;
  clear: both;
  */
}

.container-brain {
  float: right;
  width: 25%;
  height: 100%;
  margin-top: 10px;
}

code {
  font-size: 80%;
}



#fm {
    margin-top: 101px;    /* padding, 10 */
    padding-bottom: 40px;
}
@media (min-width: @screen-sm-min) {
    #fm {
        overflow-y: scroll;
    }
}


#scope {
  height: 350px;
}


/* D3 CSS
-------------------------------------------------- */
.fm-horizon {
  border-top: solid 1px rgba(0,0,0,.5);;
  border-bottom: solid 1px rgba(0,0,0,.5);;
  overflow: hidden;
  position: relative;
}

.fm-horizon + .fm-horizon {
  border-top: none;
}

.fm-horizon canvas {
  display: block;
  image-rendering: pixelated;
}

.fm-horizon .title,
.fm-horizon .value {
  top: 0;
  line-height: 13px;
  margin: 1px 2px; /* 0 6px */
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
  color: #000;
  /* text-shadow: 0 1px 0 rgba(255,255,255,.5); */
  white-space: nowrap;
}

.fm-horizon .title {
  left: 0;
}

.fm-horizon .value {
  right: 0;
}

.fm-scope-line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}



/* Re-color navbar 2
-------------------------------------------------- */
.navbar-default {
  background-color: rgba( 248, 248, 248, 0.9 );
}

/* Re-color navbars 1
-------------------------------------------------- */
.navbar-inverse {
  background-color: #397ad0;
  border-color: #316198;
}
.navbar-inverse .navbar-brand {
  color: #fffff6;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fffdbb;
}
.navbar-inverse .navbar-text {
  color: #fffff6;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fffff6;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fffdbb;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fffdbb;
  background-color: #316198;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fffdbb;
  background-color: #316198;
}
.navbar-inverse .navbar-toggle {
  border-color: #316198;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #316198;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fffff6;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #fffff6;
}
.navbar-inverse .navbar-link {
  color: #fffff6;
}
.navbar-inverse .navbar-link:hover {
  color: #fffdbb;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fffff6;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fffdbb;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fffdbb;
    background-color: #316198;
  }
}