@import "~bootstrap/scss/bootstrap";

#subject-list + .dropdown-menu{
		max-height: 200px;
		// max-width: 100px;
		// overflow-y: auto;
		position: relative;
		.btn-group{
			width: 100%;
		}
	}

#subject-record-list + .dropdown-menu{
	width: 100%;	
	position: relative;
	overflow-y: auto;
	max-height: 200px;

	.dropdown-item{
		width:100%;
	}
}
